*
!.gitignore
!uploads
uploads/*
!uploads/company-employee-lists
uploads/company-employee-lists/*
!uploads/company-employee-lists/employee-table.xlsx
!uploads/profile-pictures
uploads/profile-pictures/*
!uploads/profile-pictures/default.png
!uploads/company-mandatory-files
!uploads/employee-files
!uploads/files
!uploads/monthly-files
